/* build time:Thu Aug 20 2020 20:40:05 GMT+0800 (GMT+08:00)*/
.fancybox-button--fullscreen::before{width:15px;height:11px;left:calc(50% - 7px);top:calc(50% - 6px);border:2px solid;background:0 0}
/* rebuild by neat */